---
layout: default
title: digitalshift.me
published: true
---
<div class="post">
	<p class="intro">Welcome to <em>digital shift</em>, a blog about digital strategy and change. </p>
</div>
{% for post in paginator.posts %}
<div class="post summary">
	<a href="{{ site.baseurl }}{{ post.url }}"><img class="summary" src="{{ site.baseurl }}{{ post.thumbnail }}" /></a>
	<div class="summary-text">
		<h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
		<p class="date">{{ post.date | date_to_long_string }}</p>{{ post.excerpt }}
	</div>
</div>
{% endfor %}
<div class="post pagination">
      {% if paginator.previous_page %}
        <p><a href="{{ site.baseurl }}{{ paginator.previous_page_path }}">Previous</a>
      {% else %}
        <p>&nbsp;
      {% endif %}
      {% if paginator.next_page %}
        <span class="next "><a href="{{ site.baseurl }}{{ paginator.next_page_path }}">Next</a></span></p>
      {% else %}
        &nbsp;</p>
      {% endif %}
</div>