<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <link rel="alternate" type="application/rss+xml" title="digitalshift.me - A blog about digital strategy and change " href="http://feeds.feedburner.com/digital_shift" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,600,600italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
        <title>{{ page.title }}</title>
        
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-30908502-1', 'digitalshift.me');
          ga('send', 'pageview');

        </script>
    </head>
<body>
    <div class="grid">
        <div class="banner"><p><a href="{{ site.baseurl }}">digitalshift.me</a></p></div>
        {{ content }}
    </div>
    <div class="footer"><p><em><a href="{{ site.baseurl }}">digital shift</a></em> is written by <a href="http://andeggs.me">Francis Bacon</a></p></div>
</body>
</html>