<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,600,600italic,800,800italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Changa+One' rel='stylesheet' type='text/css'> 
        <link rel="stylesheet" href="style.css" type="text/css" charset="utf-8" />  
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl}}/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl}}/css/style.css">
    </head>
<body>
    <div class="grid">
        <div class="banner"><p><a href="{{ site.baseurl}}">digitalshift.me</a></p></div>
        {{ content }}
    </div>
    <div class="footer"><p><em>digital shift</em> is written by <a href="http://andeggs.me">Francis Bacon</a></p></div>
</body>
</html>

</body>
</html>