<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,600,600italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
        <title>{{ page.title }}</title>
        
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl}}/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl}}/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
    <div class="grid">
        <div class="banner"><p><a href="{{ site.baseurl }}">digitalshift.me</a></p></div>
        {{ content }}
    </div>
    <div class="footer"><p><em><a href="{{ site.baseurl }}">digital shift</a></em> is written by <a href="http://andeggs.me">Francis Bacon</a></p></div>
</body>
</html>

</body>
</html>